.docs {
    height: 100vh;
    width: 900px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.side-menu {
    grid-column: 1 / 3;
}

.docs-content {
    grid-column: 3 / 7;
}