<div class="docs">
    {% mount '../../components/nav/index' with {
        changeRoute: changeRoute,
        params: params,
        isHome: false,
        isFixed: false,
        hasSideMenu: true,
    } %}
    <main class="docs-content">
        <article>
            {{ content | raw }}
        </article>
    </main>
</div>