.docs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 100vh;
    width: 900px;
    margin: 0 auto;

    
}

.side-menu {
    padding: 75px 32px;
    display: none;

    @include respond-to-min($tablet-large) {
        display: block;
        grid-column: 1 / 3;
    }
}

.docs-content {
    padding: 75px 32px;
    grid-column: 1 / 6;

    @include respond-to-min($tablet-large) {
        grid-column: 3 / 7;
    }
}