.docs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    grid-template-rows: 63px 1fr;
    font-size: 14px;
    background: $juri;

    @include respond-to-min($tablet-large) {
        background: $white;
    }

    @include respond-to-min($desktop) {
        font-size: 16px;
    }
}

.header {
    @include respond-to-min($tablet-large) {
        grid-column: 1 / 3;
    }
}

.side-menu {
    position: absolute;
    background-color: $white;
    z-index: 4;
    width: 100vw;
    height: 100%;
    margin-top: 63px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transform: translateX(110%);
    transition: transform 0.25s;

    &--open {
        transform: none;
    }


    @include respond-to-min($tablet-large) {
        display: block;
        grid-row: 2;
        grid-column: 1 / 3;
        width: auto;
        transform: inherit;
        transition: inherit;
        box-shadow: none;
        z-index: inherit;
        position: relative;
        font-size: 14px;
    }

    @include respond-to-min($desktop) {
        font-size: 16px;
    }

    &__wrapper {
        padding: 32px;
    }

    h3 {
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0 0 32px;
        color: #37454d;
    }

    li {
        cursor: pointer;
        line-height: 3;

        @include respond-to-min($tablet-large) {
            margin-top: 12px;
            line-height: inherit;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.docs-content {
    grid-column: 1 / 7;
    grid-row: 2;
    padding: 32px;
    transition: transform 0.25s;
    background: $white;

    &--scaled {
        transform: scale(0.85) translate3d(25px, -50px, 0);
    }

    @include respond-to-min($tablet-large) {
        grid-column: 3 / 7;
        margin-right: 32px;
    }

    h1 {
        font-size: 24px;
        line-height: 1.25;
        margin: 0 0 12px;

        @include respond-to-min($desktop) {
            font-size: 32px;
        }
    }

    h2 {
        margin: 16px 0;
        font-size: 16px;

        @include respond-to-min($desktop) {
            font-size: 20px;
        }
    }

    p {
        margin: 12px 0;
        color: $juri;
        line-height: 1.5;
    }

    pre {
        padding: 8px;
        background-color: $dark-blue;
        color: $white;
        overflow: auto;
        font-size: 14px;

        @include respond-to-min($desktop) {
            padding: 16px;
        }
    }

    code {
        font-size: inherit;
    }

    article {
        color: $juri;

        h1, h2, h3 {
            color: $purple;
        }
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
