.btn {
  font-family: "Quicksand", Arial, sans-serif;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;

  &--primary {
    background-color: $green;
    color: $purple;
    border: 0;
    padding: 8px 12px;
    text-decoration: none;

    &:hover {
      background-color: $dark-green;
      text-decoration: none;
    }
  }
  &--secondary {
    padding: 14px 12px;
    background-color: transparent;
    color: $green;
    border: 1px solid $green;
    margin-left: 24px;
    text-decoration: none;

    &:hover {
      background-color: $green;
      color: $purple;
      text-decoration: none;
    }
  }
}

.input {
  display: inline-block;
  width: auto;
  padding: 0 12px;
  text-align: left;
  font-size: 14px;
  height: 32px;
  border: 1px solid $purple;
  color: $juri;
}

.highlight {
  color: $green;
  text-decoration: none;
}

.heading {
  font-size: 24px;
  line-height: 1.25;
  width: 100%;
  margin: 0;

  @include respond-to-min($desktop) {
    font-size: 32px;
  }
}

.bg {
  &--purple {
    background-color: $purple;
    border-top: 5px solid $dark-blue;
    border-bottom: 5px solid $dark-blue;
    padding: 32px 0;
    color: $white;

    @include respond-to-min($desktop) {
      padding: 48px 0;
    }

    &:first-of-type {
      padding: 0;
      border-top: 0;
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }
  &--white {
    padding: 32px 0;
    background-color: $white;

    @include respond-to-min($desktop) {
      padding: 48px 0;
    }

    &-action {
      padding: 32px;

      @include respond-to-min($desktop) {
        padding: 48px 32px;
      }
    }
  }
}

.hidden {
  display: none;
}
