html {
    font-family: 'Quicksand', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 500;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    color: $purple;
}