<svg id="small" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="180" height="180" viewBox="0 0 180 180">
  <title>Small</title>
  <path id="smallBar1" d="M15,32.63V147.37a10.75,10.75,0,0,0,10.33,10.88A10.5,10.5,0,0,0,36,147.75V32.25a10.5,10.5,0,0,0-10.67-10.5A10.75,10.75,0,0,0,15,32.63Z" fill="#fff"/>
  <path id="smallBar2" id="smallBar2" d="M80,75.06V147.8a10.75,10.75,0,0,0,10.33,10.88A10.5,10.5,0,0,0,101,148.18V74.68a10.5,10.5,0,0,0-10.67-10.5A10.75,10.75,0,0,0,80,75.06Z" fill="#fff"/>
  <path id="smallBar3" d="M144,125.86v21.88a10.69,10.69,0,0,0,8.78,10.66A10.51,10.51,0,0,0,165,148V125.57a10.51,10.51,0,0,0-12.22-10.36A10.69,10.69,0,0,0,144,125.86Z" fill="#fff"/>
  <circle class="smallBalls" cx="154.5" cy="90" r="10.5" fill="#5bc6ab"/>
  <circle class="smallBalls" cx="90.5" cy="90" r="10.5" fill="#424284"/>
  <circle class="smallBalls" cx="25.5" cy="90" r="10.5" fill="#1b1464"/>
</svg>