<svg id="flexible" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="180" height="180" viewBox="0 0 180 180">
  <title>Flexible</title>
  <path class="flexibleDissapear" d="M122.14,143.57H57.86a10.71,10.71,0,1,0,0,21.43h64.29a10.71,10.71,0,1,0,0-21.43Z" fill="#424284"/>
  <path class="flexibleDissapear" d="M122.14,15H57.86a10.71,10.71,0,1,0,0,21.43h64.29a10.71,10.71,0,1,0,0-21.43Z" fill="#424284"/>
  <circle id="flexibleTopRightBall" cx="154.29" cy="25.71" r="10.71" fill="#5bc6ab"/>
  <circle id="flexibleTopLeftBall" cx="25.71" cy="25.71" r="10.71" fill="#5bc6ab"/>
  <circle id="flexibleBottomLeftBall" cx="25.71" cy="154.29" r="10.71" fill="#5bc6ab"/>
  <circle id="flexibleBottomRightBall" cx="154.29" cy="154.29" r="10.71" fill="#5bc6ab"/>
  <path id="flexibleLeftBar" d="M25.71,47.14A10.71,10.71,0,0,0,15,57.86v64.29a10.71,10.71,0,1,0,21.43,0V57.86A10.71,10.71,0,0,0,25.71,47.14Z" fill="#1b1464"/>
  <path id="flexibleRightBar" d="M154.29,47.14a10.71,10.71,0,0,0-10.71,10.71v64.29a10.71,10.71,0,1,0,21.43,0V57.86A10.71,10.71,0,0,0,154.29,47.14Z" fill="#1b1464"/>
</svg>