<svg id="structured" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="180" height="180" viewBox="0 0 180 180">
  <title>Structured</title>
  <circle id="structuredBall3" cx="38.21" cy="77.14" r="10.71" transform="translate(-43.36 49.62) rotate(-45)" fill="#5bc6ab"/>
  <circle id="structuredBall2" cx="118.21" cy="40" r="10.71" transform="translate(6.34 95.31) rotate(-45)" fill="#5bc6ab"/>
  <circle id="structuredBall1" cx="128.21" cy="152.86" r="10.71" transform="translate(-70.53 135.43) rotate(-45)" fill="#5bc6ab"/>
  <path id="structuredBar3" d="M114.23,72.3,68.78,26.84A10.71,10.71,0,0,0,53.62,42L99.08,87.45A10.71,10.71,0,0,0,114.23,72.3Z" fill="#1b1464"/>
  <path id="structuredBar2" d="M139.08,79.7,93.62,125.15a10.71,10.71,0,0,0,15.15,15.15l45.46-45.46A10.71,10.71,0,1,0,139.08,79.7Z" fill="#424284"/>
  <path id="structuredBar1" d="M69.08,102.55,23.62,148a10.71,10.71,0,0,0,15.15,15.15L84.23,117.7a10.71,10.71,0,0,0-15.15-15.15Z" fill="#1b1464"/>
</svg>