<main class="main-wrapper">
    {% mount '../../components/nav/index' with {
        changeRoute: changeRoute,
        isHome: true,
        isFixed: navFixed,
        hasSideMenu: false,
    } %}
    <div class="bg--purple" ref="canvasContainer">
        <section class="hero">
            <div class="hero__melody-logo">
                 {% include '../../style/icons/icn-logo_hero.html.twig' %}
            </div>
            <div class="hero__welcome">
                <h1 class="hero__heading">Melody is a fast and memory efficient library for creating highly dynamic user interfaces</h1>
                <div class="hero__download">
                    <button ref="{{ docsLink }}" type="button" class="btn btn--primary">
                        Get Started
                    </button>
                    <a href="https://github.com/trivago/melody" role="button" class="btn btn--secondary">Github</a>
                </div>
                <div class="hero__code-block">
                    <code class="hero__code-block--comment"># Create a Melody app</code>
                    <code>yarn create melody-app my-app</code>
                </div>
            </div>
        </section>
    </div>
    <section class="nutshell nutshell__wrapper bg--white">
        <h2 class="heading heading--primary">In a nutshell</h2>
        <article class="nutshell__item" id="small">
            <span class="nutshell__image">
                {% include '../../style/icons/icn-smaller.html.twig' %}
            </span>
            <p class="nutshell__description">Melody is small, only 8kb (minified, not gzipped) at its core, making it fast for the browser to download and parse.</p>
        </article>
        <article class="nutshell__item" id="error">
            <span class="nutshell__image">
                {% include '../../style/icons/icn-error_messages.html.twig' %}
            </span>
            <p class="nutshell__description nutshell__description--middle">Melody's compiler supports you by giving you understandable and accurate error messages whenever it cannot make sense of a template.</p>
        </article>
        <article class="nutshell__item" id="battleTested">
            <span class="nutshell__image">
                {% include '../../style/icons/icn-battle_tested.html.twig' %}
            </span>
            <p class="nutshell__description">Live in production to millions of trivago users worldwide.</p>
        </article>
        <article class="nutshell__item" id="flexible">
            <span class="nutshell__image">
                {% include '../../style/icons/icn-flexible.html.twig' %}
            </span>
            <p class="nutshell__description">Melody was designed in a modular fashion from the ground up. You can change what goes in, like a different template language, and you are in control what comes out: If you need a different view layer, that's no problem.</p>
        </article>
        <article class="nutshell__item" id="speed">
            <span class="nutshell__image">
                {% include '../../style/icons/icn-faster.html.twig' %}
            </span>
            <p class="nutshell__description nutshell__description--middle">Melody is among the fastest UI libraries out there. Because of its adaptive rendering and memory efficiency, garbage collection is kept at a minimum, giving the browser lots of time to draw smooth and responsive user interfaces.</p>
        </article>
        <article class="nutshell__item" id="structured">
            <span class="nutshell__image">
                {% include '../../style/icons/icn-structured.html.twig' %}
            </span>
            <p class="nutshell__description">Melody provides an API (or set of functions) to enhance your views, it leverages functional programming to help you to create better structure for your applications.</p>
        </article>
    </section>
    <div class="bg--purple differences__wrapper">
        {% mount '../../components/tabs/index' with {
            tabs: [
                {
                    name: 'Smaller',
                    content: 'Melody is smaller (8 kb) than most other popular frameworks and libraries: React (40kb), Vue (18kb), Angular 2 (120kb), Glimmer (38kb).',
                },
                {
                    name: 'Flexible',
                    content: 'Melody uses Twig templates as a view layer, which are compiled to a set of DOM instructions defining the structure of a UI. Although other template languages can be implemented .',
                },
                {
                    name: 'Efficient',
                    content: 'Melody is among the fastest UI libraries out there, with performant and adaptive rendering out-the-box, it prioritizes and performs only necessary DOM updates (similar to React Fiber).',
                },
                {
                    name: 'Functional',
                    content: 'Melody provides an API (or set of functions) to enhance your views with state, events or lifecycle methods in a more functional manner.',
                }
            ]
        } %}
    </div>
    {% mount '../../components/melody-in-action/index' %}
    <div class="bg--purple hero__wrapper--small">
        <section class="hero hero--small">
            <div class="hero__melody-logo">
                {% include '../../style/icons/icn-logo_hero.html.twig' %}
            </div>
            <div class="hero__welcome">
                <h1 class="hero__heading hero__heading">Let’s get started</h1>
                <div class="hero__download">
                    <button ref="{{ docsLink }}" type="button" class="btn btn--primary">
                        Documentation
                    </button>
                    <a href="https://github.com/trivago/melody" role="button" class="btn btn--secondary">Github</a>
                </div>
                <p class="hero__paragraph">Check out the <a class="highlight">5 mins tutorial</a> on how to build your first Melody application.</p>
                <div class="hero__code-block">
                    <code class="hero__code-block--comment"># Create a Melody app</code>
                    <code>yarn create melody-app my-app</code>
                </div>
                <p class="hero__paragraph">Dive deeper and read the <a class="highlight" href="/documentation" ref="{{docsLink}}">documentation</a></p>
            </div>
        </section>
    </div>
</main>
