<main>
    <nav class="nav" ref="nav">
        <a class="nav__logo">
            Melody
        </a>
        <div class="nav_items">
            <a class="nav__item" href="/documentation" ref="documentationLink">Documentation</a>
        </div>
    </nav>
    <div class="section--primary" ref="canvasContainer">
        <section class="hero">
            <div class="hero__melody-logo">
                 {#svg icon#}
            </div>
            <div class="hero__welcome">
                <h1 class="hero__heading">Melody is a fast and memory efficient library for creating highly dynamic user interfaces</h1>
                <div class="hero__download">
                    <button type="button" class="btn btn--primary">
                        Download
                    </button>
                    <button type="button" class="btn btn--secondary">Github</button>
                </div>
                <p class="hero__help">Quick start <span class="highlight">instructions</span></p>
            </div>

        </section>
    </div>
    <section class="nutshell section--secondary">
        <h2 class="heading heading--primary">In a nutshell</h2>
        <article class="nutshell__item">
            <img src="http://placehold.it/180x180" class="nutshell__image" />
            <p class="nutshell__description">Melody is small, only 15kb, making it fast for the browser to download and parse.</p>
        </article>
        <article class="nutshell__item">
            <img src="http://placehold.it/180x180" class="nutshell__image" />
            <p class="nutshell__description nutshell__description--middle">Melody's compiler supports you by giving you understandable and accurate error messages whenever it cannot make sense of a template.</p>
        </article>
        <article class="nutshell__item">
            <img src="http://placehold.it/180x180" class="nutshell__image" />
            <p class="nutshell__description">Live in production to millions of trivago users worldwide.</p>
        </article>
        <article class="nutshell__item">
            <img src="http://placehold.it/180x180" class="nutshell__image" />
            <p class="nutshell__description">Melody was designed in a modular fashion from the ground up. You can change what goes in, like a different template language, and you are in control what comes out: If you need a different view layer, that's no problem.</p>
        </article>
        <article class="nutshell__item">
            <img src="http://placehold.it/180x180" class="nutshell__image" />
            <p class="nutshell__description nutshell__description--middle">Melody is among the fastest UI libraries out there. Because of its adaptive rendering and memory efficiency, garbage collection is kept at a minimum, giving the browser lots of time to draw smooth and responsive user interfaces.</p>
        </article>
        <article class="nutshell__item">
            <img src="http://placehold.it/180x180" class="nutshell__image" />
            <p class="nutshell__description">Melody provides an API (or set of functions) to enhance your views, it leverages functional programming to help you to create better structure for your applications.</p>
        </article>
    </section>
    <div class="section--primary">
        <section class="differences">
            <h2 class="heading heading--secondary">Differences from other frameworks</h2>
            <ul class="differences__list">
                <li>Smaller</li>
                <li class="active">Flexible</li>
                <li>Efficient</li>
                <li>Functional</li>
                <li>Specific</li>
            </ul>
            <p class="differences__explanation">Melody uses templates to keep a clear separation of concerns, these templates are compiled to a set of DOM instructions defining the structure of a UI. Other template languages besides Twig can be implemented.</p>
        </section>
    </div>
    <section class="in-action section--secondary">
        <h2 class="heading heading--primary">Melody in action</h2>
        <div class="in-action__code-block"></div>
        <div class="in-action__code-block"></div>
        <div class="in-action__code-block in-action__code-block--aside"></div>
    </section>
    <div class="section--primary">
        <section class="hero">
            <div class="hero__welcome">
                <h1 class="hero__heading hero__heading--starting">Let’s get started</h1>
                <div class="hero__download">
                    <button type="button" class="btn btn--primary">
                        Download
                    </button>
                    <button type="button" class="btn btn--secondary">Github</button>
                </div>
                <p>Check out the <span class="highlight">5 mins tutorial</span> on how to build your first Melody application.</p>
                <div class="hero__code-block">
                    <code class="hero__code-block--comment"># Create a Melody app</code>
                    <code>yarn create melody-app my-app</code>
                </div>
                <p>Dive deeper and read the <span class="highlight">documentation</span></p>
            </div>
            <div class="hero__melody-logo">
                {# svg icon #}
            </div>
        </section>
    </div>
</main>