<main class="page_wrapper melody">
    <header class="">
        <nav>
            <a href="#" ref="documentationLink">Documentation</a>
        </nav>
    </header>
    <section class="hero">
        <div class="hero__melody-logo">
            {# svg icon #}
        </div>
        <div class="hero__welcome">
            <h1 class="hero__heading">Melody is a fast and memory efficient library for creating highly dynamic user interfaces</h1>
            <button type="button" class="btn btn--primary">Download</button>
            <button type="button" class="btn btn--secondary">Github</button>
            <p class="hero__quick-start">
                Quick start <span class="highlight">instructions</span>
            </p>
        </div>
    </section>
    <section>
        <h2>In a nutshell</h2>
        <article>
            <span>
                {# icon image thing #}
            </span>
            <p>Melody is small, only 15kb, making it fast for the browser to download and parse.</p>
        </article>
        <article>
            <span>
                {# icon image thing #}
            </span>
            <p>Melody is small, only 15kb, making it fast for the browser to download and parse.</p>
        </article>
        <article>
            <span>
                {# icon image thing #}
            </span>
            <p>Melody is small, only 15kb, making it fast for the browser to download and parse.</p>
        </article>
        <article>
            <span>
                {# icon image thing #}
            </span>
            <p>Melody is small, only 15kb, making it fast for the browser to download and parse.</p>
        </article>
        <div>
            <span>
                {# icon image thing #}
            </span>
            <p>Melody is small, only 15kb, making it fast for the browser to download and parse.</p>
        </div>
        <article>
            <span>
                {# icon image thing #}
            </span>
            <p>Melody is small, only 15kb, making it fast for the browser to download and parse.</p>
        </article>
        <article>
            <span>
                {# icon image thing #}
            </span>
            <p>Melody is small, only 15kb, making it fast for the browser to download and parse.</p>
        </article>
    </section>
    <section>
        <h2>Melody is different</h2>
        <ul>
            <li>Smaller</li>
            <li>Smaller</li>
            <li>Smaller</li>
            <li>Smaller</li>
            <li>Smaller</li>
            <li>Smaller</li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget cursus ante. Suspendisse fringilla nec massa eget hendrerit. Duis placerat urna sem, sed ornare purus tincidunt sit amet. Donec luctus nec nisl id placerat.</p>
    </section>
    <section>
        <h2>Melody in action</h2>
        <div></div>
    </section>
    <section>
        <h2>Let's get started</h2>
        <button type="button">Download</button>
        <button type="button">Github</button>
        <p>
            Check out the <span>5 minute tutorial</span> on how to build your first Melody application
        </p>
        <div>
            {# code block #}
        </div>
        <p>
            Dive deeper and read the <span>documentation</span>
        </p>
    </section>
</main>