.nav {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    padding: 16px 0;
    width: 100%;
    letter-spacing: 1px;
    z-index: 4;
    background: $dark-blue;
    border-bottom: 3px solid $green;
    grid-template-columns: auto 1fr;
    align-items: center;


    &--fixed {
        position: fixed;
    }

    &--inverse {
      background: transparent;
      border-bottom: none;
    }

    &__logo {
        grid-column: 1 / 2;
        cursor: pointer;
        margin-left: 32px;

         svg {
             vertical-align: bottom;
         }
    }

    &__items {
        grid-column: 2 / 3;
        justify-self: end;
        margin-right: 32px;
        font-size: 14px;
        font-weight: bold;
    }

    &__item {
        display: block;
        color: $white;
        text-decoration: none;
        padding-left: 32px;
        margin-top: -2px;

        &:hover, &:active {
            text-decoration: underline;
        }
    }

    &__menu {
        display: none;
    }
}
// docs only navigation
.docs {
    .nav {
        &__menu {
            width: 24px;
            height: 24px;
            display: inline-block;
            cursor: pointer;

            @include respond-to-min($tablet-large) {
                display: none;
            }
        }

        &__item {
            display: none;

            @include respond-to-min($tablet-large) {
                display: block;
            }
        }
    }
}