<nav class="nav{{isHome and not isFixed ? ' nav--inverse' }}{{isFixed ? ' nav--fixed' }}">
    <a class="nav__logo" ref="homepageLink">
        {% include '../../style/icons/icn-logo_header.html.twig' %}
    </a>
    <div class="nav__items">
        {#<a class="nav__item" href="/documentation" ref="documentationLink">Documentation</a>#}
        <span class="nav__menu">
            {% include '../../style/icons/icn-hamburger.html.twig' %}
            {#{% include '../../style/icons/icn-close.html.twig' %}#}
        </span>
    </div>
</nav>