<nav class="nav{{isHome and not isFixed ? ' nav--inverse' }}{{isFixed ? ' nav--fixed' }}">
    <a class="nav__logo">
        Melody
    </a>
    <div class="nav_items">
        <a class="nav__item" href="/documentation" ref="documentationLink">Documentation</a>
    </div>
</nav>